body{
    margin: auto;
}
div{
    background-color: #f5f5f5;
    padding: 50px;
    text-align: center;
    border-top: 3px solid #d5d5d5;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 190px;
    
}

h2{
    font-size: 24px;
    text-align: center;

}

h3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    text-align: center;
    line-height: 28px;
    width: 930px;
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

span {
    font-weight: bold;
}

a{
    background-color: rgb(63, 199, 63);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px;

}